In [1]:
import pandas as pd

## Preprocessing data

In [4]:
df = pd.read_csv("sms-data/spam.csv", encoding="ISO-8859-1")

In [19]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [75]:
def nan_to_str(some_str):
    new_str = str(some_str)
    if new_str == "nan":
        return ""
    else:
        return new_str

In [78]:
messages = []
for i in df.iterrows():
    cur_mes = i[1]["v2"] + nan_to_str(i[1]["Unnamed: 2"]) + nan_to_str(i[1]["Unnamed: 3"]) + nan_to_str(i[1]["Unnamed: 4"])
    messages.append(cur_mes)

df["message"] = messages

In [83]:
processed_df = df
processed_df["class"] = df["v1"]
processed_df["is_spam"] = [1 if i == "spam" else 0 for i in df["class"]]

processed_df["message"] = df["message"]

processed_df = processed_df.drop(["v1", "v2", "Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis=1)

In [84]:
processed_df

     class  is_spam                                            message
0      ham        0  Go until jurong point, crazy.. Available only ...
1      ham        0                      Ok lar... Joking wif u oni...
2     spam        1  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham        0  U dun say so early hor... U c already then say...
4      ham        0  Nah I don't think he goes to usf, he lives aro...
...    ...      ...                                                ...
5567  spam        1  This is the 2nd time we have tried 2 contact u...
5568   ham        0              Will Ì_ b going to esplanade fr home?
5569   ham        0  Pity, * was in mood for that. So...any other s...
5570   ham        0  The guy did some bitching but I acted like i'd...
5571   ham        0                         Rofl. Its true to its name

[5572 rows x 3 columns]

In [85]:
processed_df.to_csv("sms-data/processed_data.csv", index=False)

## Preparing data for BERT

## Preparing Model

In [2]:
df = pd.read_csv("sms-data/processed_data.csv", encoding="ISO-8859-1")

In [ ]:
!pip install transformers

In [5]:
from transformers import AutoTokenizer
from transformers import BertForSequenceClassification

In [6]:
BERT_MODEL = "bert-base-uncased"
tokenizer = AutoTokenizer.from_pretrained(BERT_MODEL)

Downloading tokenizer.json: 100%|██████████| 455k/455k [00:12<00:00, 37.9kB/s]

In [7]:
model = BertForSequenceClassification.from_pretrained(BERT_MODEL, num_labels = len(label2idx))